.error {
  border: 0.1em solid red;
  background-color: whitesmoke;
  color: red;
  padding: 1em;
}

.success {
  border: 0.1em solid green;
  background-color: whitesmoke;
  color: green;
  padding: 1em;
}

.blog-item {
  border: 0.1em solid rosybrown;
  padding: 0.25em;
  margin: 0.25em 0 0.25em;
}