.error {
  padding: 1em;
  color: red;
  border: 0.3em solid red;
  background-color: lightgray;
}

.success {
  padding: 1em;
  color: green;
  border: 0.3em solid green;
  background-color: lightgray;
}